<!DOCTYPE html>
<html lang="en">

<head>
	 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="styles.css">

	 <meta charset="utf-8">
	 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" >
var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope){
$scope.hello="Hello world!!";
$scope.firstname="";
$scope.lastname="";
}
);

app.controller("myctrl2",function($scope){
$scope.name="Pooja";
$scope.employeeID="pooja.gamta";
$scope.designation="Sr. Software Engineer";

var getClick=function()
{
alert("Hello "+name);
}

var getdblClick=function()
{
alert("Welcome"+name);
}
}
);

</script>
</head>

<body>
<form>

<div ng-app="myapp" ng-controller="myctrl">
<h1>{{hello}}</h1><br>
<input type="text" ng-model="firstname" placeholder="FirstName"/>
<input type="text" ng-model="lastname" placeholder="LastName"/><br><br>
<button type="button" class="btn btn-primary">Submit</button><br><br>
 <table class="table">
<thead>
<th>FirstName</th>
<th>LastName</th>
</thead>
<tbody>
<td>{{firstname}}</td>
<td>{{lastname}}</td>
</tbody>
</table>
</div>

<div ng-app="myapp" ng-controller="myctrl2">
<input name = "name" type = "text" ng-model = "name" required  placeholder="Name">
<input name = "employeeID" type = "text" ng-model = "employeeID" required placeholder="EmployeeID">
<input name = "designation" type = "text" ng-model = "designation" required placeholder="Designation">


<br>
<label name="name">Name:</label>{{name}}<br>
<label name="name">Employee Id:</label>{{employeeID}}<br>
<label name="name">Designation:</label>{{designation}}<br>

<button type="button" class="btn btn-primary" ng-click="getClick()">Single Click!1<button> 
<br>
<button type="button" class="btn btn-primary" ng-dblclick="getdblClick()">Double Click!1<button> 


</div>
</form>

</body>

</html>
